@import "./blog-aside-tokens.scss";

.dsa-blog-aside {
  --c-post-aside--gap: var(--ks-spacing-stack-s);

  .c-post-meta {
    --c-post-meta--gap: var(--ks-spacing-m);
    --c-post-meta_item--gap: var(--ks-spacing-xs);
    --c-post-meta_item--font: var(--dsa-blog-aside__meta__item--font, var(--ks-font-interface-s));
    --c-post-meta_item--color: var(--dsa-blog-aside__meta__item--color, var(--ks-text-color-interface));
    --c-post-meta_item--icon-size: var(--dsa-blog-aside__meta__item__icon--size, 1.2em);
  }

  .c-contact__links {
    color: var(--dsa-blog-aside__links--color, var(--dsa-link--color));

    .icon {
      color: inherit;
    }
  }

  .c-divider {
    --c-divider--background: var(--dsa-blog-aside__divider--color, var(--ks-border-color-accent));
  }
}
