.dsa-blog-aside {
  --dsa-blog-aside__title--color: var(--dsa-headline--color);
  --dsa-blog-aside__title--font: var(--dsa-headline_h3--font);

  --dsa-blog-aside__links--color: var(--dsa-link--color);

  --dsa-blog-aside__divider--color: var(--ks-border-color-accent);
}
