@use "sass:meta";
@use "bourbon/core/bourbon";
@use "nav-topbar-tokens";

.swo-nav-topbar {
  --g-link--text-decoration: none;
  --g-link--text-decoration_hover: none;

  ul {
    list-style: none;
  }

  .swo-nav-topbar__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    > ul.swo-nav-main__list {
      display: none;
    }

    &:hover {
      .swo-nav-topbar__item:not(:hover, .swo-nav-topbar__item--active) {
        .swo-nav-topbar__label {
          opacity: var(--swo-nav-topbar__label_dimmed--opacity);
        }

        .swo-header--floating & {
          opacity: var(--swo-nav-topbar_floating__label_dimmed--opacity);
        }
      }
    }
  }

  .swo-nav-topbar__item {
    position: relative;
    display: flex;
    align-items: stretch;

    &--dropdown {
      &:last-of-type,
      &:nth-last-of-type(2) {
        .swo-nav-dropdown {
          right: 0;
        }
      }
    }

    .swo-nav-dropdown {
      transition: all var(--ks-transition-fade);
      transform: translateY(-5%);
      opacity: 0;
      pointer-events: none;
    }

    &--active {
      .swo-nav-topbar__label {
        color: var(--swo-nav-topbar__label--color_active);
        background-color: var(--swo-nav-topbar__label--background-color_active);
        font-weight: var(--swo-nav-topbar__label--font-weight_active);
      }
    }

    &:hover,
    &:focus-within {
      > .swo-nav-dropdown {
        display: flex;
        pointer-events: all;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .swo-nav-topbar__label {
    display: flex;
    font: var(--swo-nav-topbar__label--font);
    font-family: var(--swo-nav-topbar__label--font-family);
    font-weight: var(--swo-nav-topbar__label--font-weight);
    color: var(--swo-nav-topbar__label--color);
    background-color: var(--swo-nav-topbar__label--background-color);
    border-radius: var(--ks-border-radius-control);
    height: 100%;
    align-items: center;
    padding: var(--swo-nav-topbar__label--padding);
    text-decoration: var(--swo-nav-topbar__label--text-decoration);
    transition: var(--swo-nav-topbar__label--transition);
    transition-property: var(--swo-nav-topbar__label--transition-property);

    &:hover,
    &:focus,
    &:active {
      color: var(--swo-nav-topbar__label--color_hover);
      background-color: var(--swo-nav-topbar__label--background-color_hover);
      text-decoration: var(--swo-nav-topbar__label--text-decoration_hover);
    }

    .swo-header--floating & {
      color: var(--swo-nav-topbar_floating__label--color);

      &:hover {
        color: var(--swo-nav-topbar_floating__label--color_hover);
      }

      &:active {
        color: var(--swo-nav-topbar_floating__label--color_active);
      }
    }

    &__icon {
      width: var(--swo-nav-topbar__label__icon--size);
      height: var(--swo-nav-topbar__label__icon--size);
    }
  }

  .swo-nav-topbar__label:not(.swo-nav-topbar__link) {
    cursor: default;
  }
}
