.swo-blog-head {
  --swo-blog-head__date--font: var(--ks-font-interface-xs);
  --swo-blog-head__date--font-weight: var(--ks-font-weight-bold);
  --swo-blog-head__date--color: var(--ks-text-color-interface);

  --swo-blog-head__headline--font: var(--swo-headline_h2--font);
  --swo-blog-head__headline--font-weight: var(--swo-headline--font-weight);
  --swo-blog-head__headline--color: var(--swo-headline--color);

  --swo-blog-head--margin-bottom: var(--ks-spacing-stack-m);
}
