.swo-faq {
  --swo-faq--border-color: var(--ks-border-color-interface);

  --swo-faq__summary--color: var(--swo-topic--color);
  --swo-faq__summary--font-weight: var(--swo-topic--font-weight);
  --swo-faq__summary--font: var(--swo-topic--font);
  --swo-faq__summary--font-family: var(--swo-topic--font-family);

  --swo-faq__answer--color: var(--swo-headline--color);
  --swo-faq__answer--font: var(--swo-topic--font);

  --swo-faq__icon--color: var(--ks-text-color-primary-interactive);

  --swo-faq_header--padding: 1em 0;
  --swo-faq_content--padding: 0em 0em 1em 0em;
}
