@import "../../selectors";

.swo-button {
  --swo-button--padding: 0.75em 1.5em;
  --swo-button--border-width: var(--ks-border-width-default);
  --swo-button--border-radius: var(--ks-border-radius-control);
  --swo-button--font-weight: var(--ks-font-weight-semi-bold);
  --swo-button--text-transform: default;

  // Sizes

  --swo-button_small--font: var(--ks-font-interface-s);
  --swo-button_medium--font: var(--ks-font-interface-m);
  --swo-button_large--font: var(--ks-font-interface-l);

  //PRIMARY

  --swo-button_primary--color: var(--ks-text-color-default-interactive);
  --swo-button_primary--color_hover: var(--ks-text-color-default-interactive-hover);
  --swo-button_primary--color_active: var(--ks-text-color-default-interactive-active);

  --swo-button_primary--background-color: transparent;
  --swo-button_primary--background-color_hover: transparent;
  --swo-button_primary--background-color_active: transparent;

  //SECONDARY

  --swo-button_secondary--color: var(--ks-text-color-default);
  --swo-button_secondary--color_hover: var(--ks-text-color-default);
  --swo-button_secondary--color_active: var(--ks-text-color-default);

  --swo-button_secondary--background-color: var(--ks-background-color-interface-interactive);
  --swo-button_secondary--background-color_hover: var(--ks-background-color-interface-interactive-hover);
  --swo-button_secondary--background-color_active: var(--ks-background-color-interface-interactive-active);

  //TERCIARY

  --swo-button_terciary--color: var(--ks-text-color-default);
  --swo-button_terciary--color_hover: var(--ks-text-color-default);
  --swo-button_terciary--color_active: var(--ks-text-color-default);

  --swo-button_terciary--border-color: var(--ks-border-color-interface-interactive);
  --swo-button_terciary--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --swo-button_terciary--border-color_active: var(--ks-border-color-interface-interactive-active);

  --swo-button_terciary--background-color_hover: transparent;
  --swo-button_terciary--background-color_active: transparent;
}
