@use "button-tokens.scss";

.swo-button.c-button {
  --c-button--border-radius: var(--swo-button--border-radius, var(--ks-border-radius-control));
  --c-button--padding: var(--swo-button--padding, 0.75em 2em);
  --c-button--font-weight: var(--swo-button--font-weight, var(--ks-font-weight-semi-bold));
  --c-button--border-width: var(--swo-button--border-width, var(--ks-border-width-default));

  text-align: left;
  text-transform: var(--swo-button--text-transform);
  width: fit-content;
  transition-property: box-shadow, transform, background-color, color, border;

  &:disabled {
    pointer-events: none;
  }

  &.c-button--small {
    --c-button--font: var(--swo-button_small--font, var(--ks-font-interface-s));
  }

  &.c-button--medium {
    --c-button--font: var(--swo-button_medium--font, var(--ks-font-interface-m));
  }

  &.c-button--large {
    --c-button--font: var(--swo-button_large--font, var(--ks-font-interface-l));
  }

  &.swo-button--primary {
    font-weight: var(--ks-font-weight-regular);
    padding: 0;

    --c-button--color: var(--swo-button_primary--color, var(--swo-text-color-on-primary));
    --c-button--color-hover: var(--swo-button_primary--color_hover, var(--swo-text-color-on-primary));
    --c-button--color-active: var(--swo-button_primary--color_active, var(--swo-text-color-on-primary));

    --c-button--border-color: var(--swo-button_primary--border-color, none);
    --c-button--border-color-hover: var(--swo-button_primary--border-color_hover, none);
    --c-button--border-color-active: var(--swo-button_primary--border-color_active, none);
    --c-button--border-color-selected: var(--swo-button_primary--border-color_selected, none);

    --c-button--background-color: var(
      --swo-button_primary--background-color,
      var(--ks-background-color-primary-interactive)
    );
    --c-button--background-color-hover: var(
      --swo-button_primary--background-color_hover,
      var(--ks-background-color-primary-interactive-hover)
    );
    --c-button--background-color-active: var(
      --swo-button_primary--background-color_active,
      var(--ks-background-color-primary-interactive-active)
    );
    --c-button--background-color-selected: var(
      --swo-button_primary--background-color_selected,
      var(--ks-background-color-primary-interactive-selected)
    );

    &:hover {
      .icon {
        use {
          animation: arrow-hover-effect 0.4s ease-in-out;
        }
      }
    }

    @keyframes arrow-hover-effect {
      0% {
        transform: translateX(0);
        opacity: 1;
      }
      49% {
        transform: translateX(50%);
        opacity: 0;
      }
      51% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .icon {
      border-radius: var(--ks-border-radius-circle);
      border: 2px solid var(--ks-border-color-primary-interactive);
      box-sizing: content-box;
      margin-left: 0.5rem;
      color: var(--ks-color-fg);
    }
  }

  &.swo-button--secondary {
    padding: var(--swo-button--padding);

    --c-button--color: var(--swo-button_secondary--color, var(--ks-text-color-default));
    --c-button--color-hover: var(--swo-button_secondary--color_hover, var(--ks-text-color-default));
    --c-button--color-active: var(--swo-button_secondary--color_active, var(--ks-text-color-default));

    --c-button--border-color: var(--swo-button_secondary--border-color, none);
    --c-button--border-color-hover: var(--swo-button_secondary--border-color_hover, none);
    --c-button--border-color-active: var(--swo-button_secondary--border-color_active, none);
    --c-button--border-color-selected: var(--swo-button_secondary--border-color_selected, none);

    --c-button--background-color: var(
      --swo-button_secondary--background-color,
      var(--ks-background-color-clear-interactive)
    );
    --c-button--background-color-hover: var(
      --swo-button_secondary--background-color_hover,
      var(--ks-background-color-clear-interactive-hover)
    );
    --c-button--background-color-active: var(
      --swo-button_secondary--background-color_active,
      var(--ks-background-color-clear-interactive-active)
    );
    --c-button--background-color-selected: var(
      --swo-button_secondary--background-color_selected,
      var(--ks-background-color-clear-interactive-selected)
    );
  }

  &.swo-button--tertiary {
    padding: var(--swo-button--padding);

    --c-button--color: var(--swo-button_tertiary--color, var(--ks-text-color-default));
    --c-button--color-hover: var(--swo-button_tertiary--color_hover, var(--ks-text-color-default));
    --c-button--color-active: var(--swo-button_tertiary--color_active, var(--ks-text-color-default));

    --c-button--border-color: var(--swo-button_tertiary--border-color, var(--ks-border-color-interface-interactive));
    --c-button--border-color-hover: var(
      --swo-button_tertiary--border-color_hover,
      var(--ks-border-color-interface-interactive-hover)
    );
    --c-button--border-color-active: var(
      --swo-button_tertiary--border-color_active,
      var(--ks-border-color-interface-interactive-active)
    );
    --c-button--border-color-selected: var(
      --swo-button_tertiary--border-color-selected,
      var(--ks-border-color-interface-interactive_selected)
    );

    --c-button--background-color: var(--swo-button_tertiary--background-color, none);
    --c-button--background-color-hover: var(--swo-button_tertiary--background-color_hover, none);
    --c-button--background-color-active: var(--swo-button_tertiary--background-color_active, none);
    --c-button--background-color-selected: var(--swo-button_tertiary--background-color_selected, none);
  }
}
