@import "../../selectors";

.c-form-check {
  --swo-check--background: var(--ks-background-color-default);
  --swo-check--background_checked: var(--ks-color-primary);

  --swo-check--border: var(--ks-border-width-) solid;
  --swo-check--border-color: var(--ks-border-color-interface-interactive);
  --swo-check--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --swo-check--border-color_focus: var(--ks-border-color-primary);
  --swo-check--border-color_checked: var(--ks-border-color-primary);

  --swo-check--size: 1.35em;

  --swo-check--shadow_focus: 0;

  --swo-check_box--border-radius: min(var(--ks-border-radius-control), calc(var(--swo-check--size) / 4));

  --swo-check_radio--border-radius: var(--ks-border-radius-circle);
  --swo-check_radio__checkmark--size: calc(var(--swo-check--size) * 0.3);

  --swo-check__checkmark--color: var(--rub-text-color-on-primary);

  --swo-check__label--font: var(--ks-font-interface-s);
  --swo-check__label--font-weight: var(--ks-font-weight-semi-bold);
  --swo-check__label--color: var(--ks-text-color-interface-interactive-default);
}

.c-form-field {
  --swo-input--color: var(--ks-text-color-interface);

  --swo-input--padding: 0.4rem 0.75rem 0.35rem;
  --swo-input--font: var(--ks-font-interface-s);

  --swo-input--border: var(--ks-border-width-default) solid;
  --swo-input--border-color: var(--ks-border-color-interface-interactive);
  --swo-input--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --swo-input--border-color_focus: var(--ks-border-color-interface-interactive-active);
  --swo-input--border-color_active: var(--ks-border-color-interface-interactive-active);

  --swo-input--background: var(--ks-background-color-interface-interactive);
  --swo-input--background_focus: var(--ks-background-color-interface-interactive-active);

  --swo-input--shadow_focus: 0;

  --swo-input__label--color: var(--ks-text-color-default);
  --swo-input__label--font-weight: var(--ks-font-weight-bold);

  --swo-input__placeholder--color: var(--ks-color-fg-alpha-5);
}
