@import "../../selectors";

.c-form-check {
  --swo-form-check--border: var(--ks-border-width-emphasized);
  --swo-form-check--border-color: var(--ks-border-color-interface-interactive);
  --swo-form-check--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --swo-form-check--border-color_focus: var(--ks-border-color-interface-interactive-active);
  --swo-form-check--border-color_checked: var(--ks-border-color-interface-interactive-selected);

  --swo-form-check--background: transparent;
  --swo-form-check--background_checked: var(--ks-color-secondary);

  --swo-form-check--shadow_focus: 0 0 4px 0;
  --swo-form-check__checkmark--color: var(--swo-text-color-on-primary);
}

.c-form-field {
  --swo-form-field--color: var(--ks-text-color-interface);

  --swo-form-field--border: var(--ks-border-width-emphasized);
  --swo-form-field--border-color: var(--ks-border-color-interface-interactive);
  --swo-form-field--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --swo-form-field--border-color_focus: var(--ks-border-color-interface-interactive-active);

  --swo-form-field--background: transparent;
  --swo-form-field--shadow_focus: 0 0 4px 0;

  --swo-form-field__placeholder--color: var(--ks-color-fg-alpha-5);
}
