.dsa-hero {
  --dsa-hero__headline--color: var(--dsa-headline__headline--color);
  --dsa-hero__subheadline--color: var(--dsa-headline__subheadline--color);

  --dsa-hero_color-neutral__headline--color: var(--ks-text-color-default);
  --dsa-hero_color-neutral__subheadline--color: var(--ks-text-color-default);

  --dsa-hero__copy--color: var(--ks-text-color-default);
  --dsa-hero__copy--font: var(--dsa-rich-text--font);
  --dsa-hero_highlight-text__copy--font: var(--ks-font-copy-l);
  --dsa-hero_color-neutral__copy--color: var(--ks-text-color-default);

  --dsa-hero__textbox--border-radius: var(--ks-border-radius-surface);
  --dsa-hero__textbox--padding: var(--ks-spacing-inset-squish-xl);
  --dsa-hero__texbox--background-color: var(--ks-color-bg-alpha-2);

  --dsa-hero__overlay--background: linear-gradient(0deg, var(--ks-background-color-default) 15%, transparent 50%);
}
