.dsa-hero {
  --dsa-hero__subheadline--color: var(--dsa-headline__subheadline--color);
  --dsa-hero__box--background-color: var(--ks-color-bg-alpha-2);

  --dsa-hero__text--color: var(--ks-text-color-default);
  --dsa-hero_color-neutral__copy--color: var(--ks-text-color-default);
}
