:root {
  --swo-lightbox--background-color: var(--ks-background-color-default);
  --swo-lightbox__placeholder--background: var(--ks-color-fg-to-bg-1);
  --swo-lightbox--root-z-index: var(--ks-depth-modal);
  --swo-lightbox__button--color: var(--swo-text-color-on-primary);

  --swo-lightbox__counter--shadow: var(--ks-color-fg-inverted);
  --swo-lightbox__counter--font: var(--ks-font-interface-s);
  --swo-lightbox__counter--color: var(--ks-color-fg);
}
