.swo-image-text {
  --swo-image-text--font: var(--swo-rich-text--font);
  --swo-image-text--color: var(--swo-rich-text--color);

  --swo-image-text_highlight--font: var(--ks-font-copy-l);
  --swo-image-text_highlight--color: var(--ks-text-color-default);
}
