.swo-mosaic {
  --swo-mosaic--vertical-padding: var(--l-section--space-default);
  --swo-mosaic--horizontal-padding: var(--swo-content--horizontal-spacing);

  --swo-mosaic__copy--font: var(--swo-rich-text--font);
  --swo-mosaic__copy--color: var(--ks-text-color-default);

  --swo-mosaic__headline--color: var(--swo-headline--color);
  --swo-mosaic__headline--font: var(--swo-headline_h2--font);

  --swo-mosaic__subheadline--color: var(--swo-headline__subheadline--color);
  --swo-mosaic__subheadline--font: var(--swo-headline-font-copy-xs);
}
