@use "mosaic-tokens.scss";

.swo-mosaic {
  .swo-headline {
    &__headline {
      font: var(--swo-mosaic__headline--font, var(--swo-headline_h2--font, var(--ks-font-display-xl)));
      color: var(--swo-mosaic__headline--color, var(--ks-text-color-display));
      font-weight: var(--swo-headline--font-weight, var(--ks-font-weight-semi-bold));
    }

    &__subheadline {
      font: var(--swo-mosaic__subheadline--font, var(--swo-headline_h2__subheadline--font, var(--ks-font-display-xl)));
      color: var(--swo-mosaic__subheadline--color, var(--ks-text-color-primary));
      font-weight: var(--swo-headline__subheadline--font-weight, var(--ks-font-weight-medium));
    }
  }

  .c-rich-text {
    font: var(--swo-mosaic__copy--font, var(--swo-rich-text--font, var(--ks-font-copy-m)));
    color: var(--swo-mosaic__copy--color, var(--swo-rich-text--color, var(--ks-text-color-copy)));
  }

  .c-storytelling__box__content {
    max-width: var(--swo-content--width_narrow);

    &[style^="color"] {
      .swo-headline__headline,
      .swo-headline__subheadline {
        color: inherit;
      }
    }
  }
}
