.swo-image-story.c-storytelling {
  --swo-image-story--gap: var(--ks-spacing-m);

  --swo-image-story--horizontal-padding: var(--swo-content--horizontal-spacing);
  --swo-image-story--vertical-padding: var(--ks-spacing-xl);

  --swo-image-story__copy--font: var(--swo-rich-text--font);
  --swo-image-story__copy--color: var(--swo-rich-text--color);
}
