.dsa-image-story.c-storytelling {
  --dsa-image-story--gap: var(--ks-spacing-m);

  --dsa-image-story--horizontal-padding: var(--l-section--content-padding);
  --dsa-image-story--vertical-padding: var(--ks-spacing-xl);

  --dsa-image-story__copy--font: var(--dsa-rich-text--font);
  --dsa-image-story__copy--color: var(--dsa-rich-text--color);
}
