.swo-cta {
  --swo-cta--gap: var(--ks-spacing-stack-l) var(--ks-spacing-inline-l);
  --swo-cta--border-radius: var(--ks-border-radius-surface);

  --swo-cta__content--vertical-padding: var(--swo-content--vertical-spacing);
  --swo-cta__content--horizontal-padding: var(--swo-content--horizontal-spacing);
  --swo-cta__content--max-width: var(--swo-content--width_narrow);

  --swo-cta__copy--font: var(--swo-rich-text--font);
  --swo-cta__copy--color: var(--ks-text-color-default);

  --swo-cta__headline--color: var(--swo-headline--color);
  --swo-cta__headline--font: var(--swo-headline_h2--font);

  --swo-cta__subheadline--color: var(--swo-headline__subheadline--color);
  --swo-cta__subheadline--font: var(--swo-headline_h2__subheadline--font);

  --swo-cta__image--padding: var(--ks-spacing-inset-m);

  --swo-cta_color-neutral__headline--color: var(--ks-text-color-default);
  --swo-cta_color-neutral__subheadline--color: var(--ks-text-color-default);
  --swo-cta_color-neutral__copy--color: var(--ks-text-color-default);

  --swo-cta_highlight-text__headline--font: var(--swo-headline_h1--font);
  --swo-cta_highlight-text__subheadline--font: var(--swo-headline_h1__subheadline--font);
  --swo-cta_highlight-text__copy--font: var(--ks-font-copy-l);
}
