@import "./cta-tokens.scss";

.dsa-cta.c-storytelling {
  --c-storytelling--horizontal-padding: var(--dsa-cta__content--horizontal-padding);
  --c-storytelling--vertical-padding: var(--dsa-cta__content--vertical-padding);

  justify-content: center;
  align-items: stretch;
  gap: var(--dsa-cta--gap, var(--ks-spacing-inline-m));

  &.dsa-cta--color-neutral {
    --dsa-cta__copy--color: var(--dsa-cta_color-neutral__copy--color, var(--ks-text-color-default));
    --dsa-cta__headline--color: var(--dsa-cta_color-neutral__headline--color, var(--ks-text-color-default));
    --dsa-cta__subheadline--color: var(--dsa-cta_color-neutral__subheadline--color, var(--ks-text-color-default));
  }

  &.dsa-cta--highlight-text {
    --dsa-cta__copy--font: var(--dsa-cta_highlight-text__copy--font, var(--ks-font-copy-l));
    --dsa-cta__headline--font: var(--dsa-cta_highlight-text__headline--font, var(--dsa-headline_h1--font));
    --dsa-cta__subheadline--font: var(
      --dsa-cta_highlight-text__subheadline--font,
      var(--dsa-headline_h1__subheadline--font)
    );
  }

  &.dsa-cta--no-padding {
    .c-storytelling__box {
      padding: 0;
    }
  }

  &.dsa-cta--image-padding {
    .c-storytelling__image {
      padding: var(--dsa-cta__content--vertical-padding, var(--dsa-content--vertical-spacing))
        var(--dsa-cta__content--horizontal-padding, var(--dsa-content--horizontal-spacing));
    }
  }

  .c-storytelling__box {
    &__content {
      max-width: var(--dsa-cta__content--max-width, var(--dsa-content--width_narrow));
    }
    &:only-child {
      .c-storytelling__box__content {
        max-width: 100%;
      }
    }

    .dsa-headline {
      &__headline {
        font: var(--dsa-cta__headline--font, var(--dsa-headline_h2--font, var(--ks-font-display-xl)));
        color: var(--dsa-cta__headline--color, var(--ks-text-color-display));
        font-weight: var(--dsa-headline--font-weight, var(--ks-font-weight-semi-bold));
      }

      &__subheadline {
        font: var(--dsa-cta__subheadline--font, var(--dsa-headline_h2__subheadline--font, var(--ks-font-display-xl)));
        color: var(--dsa-cta__subheadline--color, var(--ks-text-color-primary));
        font-weight: var(--dsa-headline__subheadline--font-weight, var(--ks-font-weight-medium));
      }
    }

    .c-rich-text {
      font: var(--dsa-cta__copy--font, var(--dsa-rich-text--font, var(--ks-font-copy-m)));
      color: var(--dsa-cta__copy--color, var(--dsa-rich-text--color, var(--ks-text-color-copy)));
    }
  }

  @container storytelling (max-width: 639.9px) {
    &.c-storytelling--order-mobile-image-last {
      .c-storytelling__box {
        padding-bottom: 0;
      }

      .c-storytelling__image {
        padding-top: 0;
      }
    }

    &:not(.c-storytelling--order-mobil-image-last) {
      .c-storytelling__box {
        padding-top: 0;
      }

      .c-storytelling__image {
        padding-bottom: 0;
      }
    }
  }

  @container storytelling (min-width: 640px) {
    &.c-storytelling--order-desktop-image-last {
      .c-storytelling__box {
        padding-right: 0;
      }

      .c-storytelling__image {
        padding-left: 0;
      }
    }

    &:not(.c-storytelling--order-desktop-image-last) {
      .c-storytelling__box {
        padding-left: 0;
      }

      .c-storytelling__image {
        padding-right: 0;
      }
    }
  }
}

.dsa-header--floating + .l-container--storytelling,
.dsa-header--floating + .l-section .l-container--storytelling:first-child {
  @media (min-width: 640px) {
    .c-storytelling.dsa-cta {
      padding-top: calc(
        var(--dsa-header--height) + var(--dsa-cta__content--horizontal-padding, var(--dsa-content--horizontal-spacing))
      );
      z-index: 1;
    }
  }
}
