// Branding
:root {
  --color-test: #ff00ff;
  --color-test-inverted: #00f2ff;
}

// BASE TOKEN
:root,
[ks-theme] {
  --ks-color-test-base: var(--color-test);
  --ks-color-test-inverted-base: var(--color-test-inverted);
}

:root,
[ks-theme],
[ks-inverted="false"] {
  --ks-color-test: var(--ks-color-test-base);
  --ks-color-test-inverted: var(--ks-color-test-inverted-base);
}

[ks-inverted="true"] {
  --ks-color-test: var(--ks-color-test-inverted-base);
  --ks-color-test-inverted: var(--ks-color-test-base);
}

/// SCALES (now reduced to 2 declarations per scale)
:root,
[ks-inverted],
[ks-inverted="true"],
[ks-inverted="false"] {
  --ks-color-test-alpha-1: color-mix(in srgb, var(--ks-color-test) 10%, transparent);
  --ks-color-test-alpha-2: color-mix(in srgb, var(--ks-color-test) 20%, transparent);
  --ks-color-test-alpha-3: color-mix(in srgb, var(--ks-color-test) 30%, transparent);
  --ks-color-test-alpha-4: color-mix(in srgb, var(--ks-color-test) 40%, transparent);
  --ks-color-test-alpha-5: color-mix(in srgb, var(--ks-color-test) 50%, transparent);
  --ks-color-test-alpha-6: color-mix(in srgb, var(--ks-color-test) 60%, transparent);
  --ks-color-test-alpha-7: color-mix(in srgb, var(--ks-color-test) 70%, transparent);
  --ks-color-test-alpha-8: color-mix(in srgb, var(--ks-color-test) 80%, transparent);
  --ks-color-test-alpha-9: color-mix(in srgb, var(--ks-color-test) 90%, transparent);

  --ks-color-test-inverted-alpha-1: color-mix(in srgb, var(--ks-color-test-inverted) 10%, transparent);
  --ks-color-test-inverted-alpha-2: color-mix(in srgb, var(--ks-color-test-inverted) 20%, transparent);
  --ks-color-test-inverted-alpha-3: color-mix(in srgb, var(--ks-color-test-inverted) 30%, transparent);
  --ks-color-test-inverted-alpha-4: color-mix(in srgb, var(--ks-color-test-inverted) 40%, transparent);
  --ks-color-test-inverted-alpha-5: color-mix(in srgb, var(--ks-color-test-inverted) 50%, transparent);
  --ks-color-test-inverted-alpha-6: color-mix(in srgb, var(--ks-color-test-inverted) 60%, transparent);
  --ks-color-test-inverted-alpha-7: color-mix(in srgb, var(--ks-color-test-inverted) 70%, transparent);
  --ks-color-test-inverted-alpha-8: color-mix(in srgb, var(--ks-color-test-inverted) 80%, transparent);
  --ks-color-test-inverted-alpha-9: color-mix(in srgb, var(--ks-color-test-inverted) 90%, transparent);

  --ks-color-test-to-bg-1: color-mix(in srgb, var(--ks-color-test) 10%, var(--ks-color-bg));
  --ks-color-test-to-bg-2: color-mix(in srgb, var(--ks-color-test) 20%, var(--ks-color-bg));
  --ks-color-test-to-bg-3: color-mix(in srgb, var(--ks-color-test) 30%, var(--ks-color-bg));
  --ks-color-test-to-bg-4: color-mix(in srgb, var(--ks-color-test) 40%, var(--ks-color-bg));
  --ks-color-test-to-bg-5: color-mix(in srgb, var(--ks-color-test) 50%, var(--ks-color-bg));
  --ks-color-test-to-bg-6: color-mix(in srgb, var(--ks-color-test) 60%, var(--ks-color-bg));
  --ks-color-test-to-bg-7: color-mix(in srgb, var(--ks-color-test) 70%, var(--ks-color-bg));
  --ks-color-test-to-bg-8: color-mix(in srgb, var(--ks-color-test) 80%, var(--ks-color-bg));
  --ks-color-test-to-bg-9: color-mix(in srgb, var(--ks-color-test) 90%, var(--ks-color-bg));

  --ks-color-test-inverted-to-bg-1: color-mix(in srgb, var(--ks-color-test-inverted) 10%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-2: color-mix(in srgb, var(--ks-color-test-inverted) 20%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-3: color-mix(in srgb, var(--ks-color-test-inverted) 30%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-4: color-mix(in srgb, var(--ks-color-test-inverted) 40%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-5: color-mix(in srgb, var(--ks-color-test-inverted) 50%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-6: color-mix(in srgb, var(--ks-color-test-inverted) 60%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-7: color-mix(in srgb, var(--ks-color-test-inverted) 70%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-8: color-mix(in srgb, var(--ks-color-test-inverted) 80%, var(--ks-color-bg-inverted));
  --ks-color-test-inverted-to-bg-9: color-mix(in srgb, var(--ks-color-test-inverted) 90%, var(--ks-color-bg-inverted));

  --ks-color-test-to-fg-1: color-mix(in srgb, var(--ks-color-test) 10%, var(--ks-color-fg));
  --ks-color-test-to-fg-2: color-mix(in srgb, var(--ks-color-test) 20%, var(--ks-color-fg));
  --ks-color-test-to-fg-3: color-mix(in srgb, var(--ks-color-test) 30%, var(--ks-color-fg));
  --ks-color-test-to-fg-4: color-mix(in srgb, var(--ks-color-test) 40%, var(--ks-color-fg));
  --ks-color-test-to-fg-5: color-mix(in srgb, var(--ks-color-test) 50%, var(--ks-color-fg));
  --ks-color-test-to-fg-6: color-mix(in srgb, var(--ks-color-test) 60%, var(--ks-color-fg));
  --ks-color-test-to-fg-7: color-mix(in srgb, var(--ks-color-test) 70%, var(--ks-color-fg));
  --ks-color-test-to-fg-8: color-mix(in srgb, var(--ks-color-test) 80%, var(--ks-color-fg));
  --ks-color-test-to-fg-9: color-mix(in srgb, var(--ks-color-test) 90%, var(--ks-color-fg));

  --ks-color-test-to-fg-1: color-mix(in srgb, var(--ks-color-test-inverted) 10%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-2: color-mix(in srgb, var(--ks-color-test-inverted) 20%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-3: color-mix(in srgb, var(--ks-color-test-inverted) 30%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-4: color-mix(in srgb, var(--ks-color-test-inverted) 40%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-5: color-mix(in srgb, var(--ks-color-test-inverted) 50%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-6: color-mix(in srgb, var(--ks-color-test-inverted) 60%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-7: color-mix(in srgb, var(--ks-color-test-inverted) 70%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-8: color-mix(in srgb, var(--ks-color-test-inverted) 80%, var(--ks-color-fg-inverted));
  --ks-color-test-to-fg-9: color-mix(in srgb, var(--ks-color-test-inverted) 90%, var(--ks-color-fg-inverted));
}

// SEMANTIC TOKEN
:root,
[ks-theme] {
  --ks-background-color-test-base: var(--ks-color-test);
  --ks-background-color-test-inverted-base: var(--ks-color-test-inverted);
}

/// Inversion
:root {
  --ks-background-color-test: var(--ks-background-color-test-base);
  --ks-background-color-test-inverted: var(--ks-background-color-test-inverted-base);
}

[ks-inverted="true"] {
  --ks-background-color-test: var(--ks-background-color-test-inverted-base);
  --ks-background-color-test-inverted: var(--ks-background-color-test-base);
}

// COMPONENT TOKEN
.dsa-button.c-button {
  --dsa-button_primary--background-color: var(--ks-background-color-test);
}
