.swo-divider {
  --swo-divider--background: var(--ks-border-color-default);
  --swo-divider--background_accent: var(--ks-border-color-interface);
  --swo-divider--height: var(--ks-border-width-default);
}
