@import "divider-tokens.scss";

hr.c-divider {
  --c-divider--background: var(--swo-divider--background, var(--ks-border-color-default));
  --c-divider--height: var(--swo-divider--height, var(--ks-border-width-default));

  &--accent {
    --c-divider--background: var(--swo-divider--background_accent, var(--ks-border-color-accent));
  }
}
