@use "@kickstartds/core/source/core/container";
@include container.wrapper("contact");

.swo-contact {
  --swo-contact--gap-horizontal: var(--ks-spacing-inline-m);
  --swo-contact--gap-vertical: var(--ks-spacing-stack-m);

  --swo-contact__header--gap: 0;

  --swo-contact__image--flex-basis: 200px;
  --swo-contact__image--border-radius: var(--ks-border-radius-card);

  --swo-contact__body--gap: var(--ks-spacing-stack-xs);
  --swo-contact__body--flex-basis: 300px;

  --swo-contact__copy--font: var(--swo-rich-text--font);
  --swo-contact__copy--color: var(--swo-rich-text--color);

  --swo-contact__title--color: var(--ks-text-color-display);
  --swo-contact__title--font: var(--ks-font-copy-l);
  --swo-contact__title--font-weight: var(--ks-font-weight-bold);

  --swo-contact__subtitle--color: var(--ks-text-color-display);
  --swo-contact__subtitle--font: var(--ks-font-copy-m);
  --swo-contact__subtitle--font-weight: var(--ks-font-weight-regular);

  --swo-contact__links--gap: 0;

  --swo-contact__link--color: var(--swo-link--color);
  --swo-contact__link--color_hover: var(--swo-link--color_hover);
  --swo-contact__link--font: var(--ks-font-interface-m);
  --swo-contact__link--font-weight: var(--swo-link--font-weight);
  --swo-contact__link__icon--margin-right: 0.5em;
  --swo-contact__link__icon--size: 1.5em;
  --swo-contact__link__icon--color: inherit;
  --swo-contact__link--text-decoration: none;
  --swo-contact__link--text-decoration_hover: none;
  --swo-contact__link--padding-vertical: 0.125em;
}
