@use "@kickstartds/core/source/core/container";
@import "contact-tokens";
@include container.wrapper("contact");

.swo-contact {
  display: flex;
  flex-wrap: wrap;
  gap: var(--swo-contact--gap-horizontal) var(--swo-contact--gap-vertical);

  &__image-wrap,
  &__body {
    flex-grow: 1;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--swo-contact__body--gap);
    flex-basis: var(--swo-contact__body--flex-basis);
  }

  &__copy {
    font: var(--swo-contact__copy--font);
    color: var(--swo-contact__copy--color);
  }

  &__image-wrap {
    flex: none;
    flex-basis: var(--swo-contact__image--flex-basis);
    height: 100%;
    width: 100%;

    .swo-contact--image-full-width & {
      flex-grow: 1;
    }

    .swo-contact--image-square & {
      aspect-ratio: 1/1;
    }

    .swo-contact--image-wide & {
      aspect-ratio: 4/3;
    }

    .swo-contact--image-vertical & {
      aspect-ratio: 3/4;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: var(--swo-contact__image--border-radius);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--swo-contact__header--gap);
  }

  &__title {
    font: var(--swo-contact__title--font);
    color: var(--swo-contact__title--color);
    font-weight: var(--swo-contact__title--font-weight);
  }

  &__subtitle {
    font: var(--swo-contact__subtitle--font);
    color: var(--swo-contact__subtitle--color);
    font-weight: var(--swo-contact__subtitle--font-weight);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--swo-contact__links--gap);

    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.swo-contact__link {
    padding: var(--swo-contact__link--padding-vertical) 0;
    display: flex;
    align-items: center;
    color: var(--swo-contact__link--color);
    font: var(--swo-contact__link--font);
    font-weight: var(--swo-contact__link--font-weight);
    text-decoration: var(--swo-contact__link--text-decoration);

    .icon {
      width: var(--swo-contact__link__icon--size);
      height: var(--swo-contact__link__icon--size);
      color: var(--swo-contact__link__icon--color);
      margin-right: var(--swo-contact__link__icon--margin-right);
    }

    &:hover {
      color: var(--swo-contact__link--color_hover);
      text-decoration: var(--swo-contact__link--text-decoration_hover);
    }
  }

  .c-headline {
    --c-headline--color: var(--swo-contact__headline--color);
    --c-headline--font: var(--swo-contact__headline--font);
    --c-headline--font-weight: var(--swo-contact__headline--font-weight);
    --c-headline__subheadline--color: var(--swo-contact__headline__subheadline--color);
    --c-headline__subheadline--font: var(--swo-contact__headline__subheadline--font);
    --c-headline__subheadline--font-weight: var(--swo-contact__headline__subheadline--font-weight);
  }
}
