@use "sass:meta";
@use "bourbon/core/bourbon";
@use "./nav-flyout-tokens";

.dsa-nav-flyout {
  @media (max-width: "62rem") {
    display: block;
  }
  display: none;

  left: -100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 77vw;
  max-width: 23rem;
  transition: all var(--ks-duration-slow);
  padding: var(--dsa-nav-flyout--padding);
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  background: var(--dsa-nav-flyout--background);
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  .overlay-open & {
    left: 0;
    box-shadow: var(--dsa-nav-flyout--shadow);
  }

  .dsa-nav-flyout__logo {
    margin-top: var(--dsa-header--spacing-vertical);
    margin-bottom: var(--dsa-header--spacing-vertical);
  }

  .dsa-nav-flyout__list {
    padding-top: calc(var(--dsa-header--spacing-vertical) - var(--ks-spacing-s));
  }

  .dsa-nav-flyout__item {
    flex-shrink: 0;
    position: relative;
    outline: 0;

    &:hover {
      > .dsa-nav-sublist {
        display: flex;
      }
    }
  }

  .dsa-nav-flyout__link {
    font: var(--dsa-nav-flyout__link--font);
    font-weight: var(--dsa-nav-flyout__link--font-weight);
    color: var(--dsa-nav-flyout__link--color);
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding: var(--dsa-nav-flyout__link--padding);

    &:hover {
      color: var(--dsa-nav-flyout__link--color_hover);
    }

    &:active {
      color: var(--dsa-nav-flyout__link--color_active);
    }
  }

  .dsa-nav-flyout__sublist {
    padding-left: var(--dsa-nav-flyout__sublist--padding-left);

    &:hover {
      .dsa-nav-sublist__link:not(:hover) {
        opacity: var(--dsa-nav-sublist__link_dimmed--opacity);
      }
    }
  }

  ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin: 0;
    }
  }
}
