@use "@kickstartds/core/source/core/container";
@include container.wrapper("blog-teaser");

.swo-blog-teaser {
  --swo-blog-teaser--background: transparent;

  --swo-blog-teaser--gap: var(--ks-spacing-stack-xs) var(--ks-spacing-inline-xs);

  --swo-blog-teaser__topic--font: var(--swo-topic--font);
  --swo-blog-teaser__topic--font-size: var(--ks-font-size-copy-l);
  --swo-blog-teaser__topic--font-weight: var(--swo-topic--font-weight);

  --swo-blog-teaser__tag-label--font: var(--ks-font-interface-xs);

  --swo-blog-teaser__copy--font: var(--ks-font-copy-s);
  --swo-blog-teaser__copy--color: var(--swo-rich-text--color);
  --swo-blog-teaser__copy--color_hover: var(--ks-text-color-default);
  --swo-blog-teaser__copy--margin-top: 0.5em;

  --swo-blog-teaser__meta--font: var(--ks-spacing-stack-s);
  --swo-blog-teaser__meta--color: var(--ks-text-color-interface);
  --swo-blog-teaser__meta__author--font-weight: var(--ks-font-weight-semi-bold);

  --swo-blog-teaser__avatar--size: 2em;

  --swo-blog-teaser__image--border-radius: var(--ks-border-radius-card);

  @include container.size("≥", 640px, "blog-teaser") {
    --swo-blog-teaser--gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);

    --swo-blog-teaser__topic--font-size: var(--ks-font-size-copy-xl);
    --swo-blog-teaser__copy--font: var(--ks-font-copy-m);
    --swo-blog-teaser__tag-label--font: var(--ks-font-interface-s);
  }

  @include container.size("≥", 1000px, "blog-teaser") {
    --swo-blog-teaser__topic--font-size: var(--ks-font-size-copy-xxl);
  }
}
