.swo-gallery {
  --swo-gallery--gap-vertical: var(--ks-spacing-stack-m);
  --swo-gallery--gap-horizontal: var(--ks-spacing-inline-m);

  --swo-gallery--tile-min-width-small: 200px;
  --swo-gallery--tile-min-width-large: 400px;

  --swo-gallery--image-ratio-square: 1/1;
  --swo-gallery--image-ratio-wide: 4/3;
  --swo-gallery--image-ratio-landscape: 16/9;
}
