@import "gallery-tokens.scss";
@import "../../selectors";

.swo-gallery {
  &__grid {
    &--stack {
      display: flex;
      gap: var(--swo-gallery--gap-vertical);
      flex-direction: column;
    }

    &--small-tiles {
      display: grid;
      gap: var(--swo-gallery--gap-horizontal) var(--swo-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--swo-gallery--tile-min-width-small), 100%), 1fr));
    }

    &--large-tiles {
      display: grid;
      gap: var(--swo-gallery--gap-horizontal) var(--swo-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--swo-gallery--tile-min-width-large), 100%), 1fr));
    }
  }

  &__image {
    flex: 1 1;

    &--square {
      img {
        aspect-ratio: var(--swo-gallery--image-ratio-square);
        object-fit: cover;
      }
    }

    &--wide {
      img {
        aspect-ratio: var(--swo-gallery--image-ratio-wide);
        object-fit: cover;
      }
    }

    &--landscape {
      img {
        aspect-ratio: var(--swo-gallery--image-ratio-landscape);
        object-fit: cover;
      }
    }
  }
}
