@use "@kickstartds/core/source/core/container";
@import "../../selectors";
@include container.wrapper("section");

.dsa-section {
  //Columns
  --dsa-section__col--repeat: auto-fit;
  --dsa-section__col--max-width: 1fr;
  --dsa-section__col--min-width_smallest: var(--dsa-tile--width_smallest);
  --dsa-section__col--min-width_small: var(--dsa-tile--width_small);
  --dsa-section__col--min-width_medium: var(--dsa-tile--width_medium);
  --dsa-section__col--min-width_large: var(--dsa-tile--width_large);
  --dsa-section__col--min-width_largest: var(--dsa-tile--width_largest);

  //Vertical Space After & Before
  --dsa-section--space_default: var(--dsa-content--vertical-spacing);
  --dsa-section--space_small: calc(var(--ks-spacing-xxl) / 2);

  //Gutter
  --dsa-section--gutter_small: var(--ks-spacing-s);
  --dsa-section--gutter_default: var(--ks-spacing-m);
  --dsa-section--gutter_large: var(--ks-spacing-l);

  //Buttons
  --dsa-section__buttons--space-before: var(--ks-spacing-stack-m);

  //Content Width
  --dsa-section__content--width_narrow: var(--dsa-content--width_narrow);
  --dsa-section__content--width_default: var(--dsa-content--width_default);
  --dsa-section__content--width_wide: var(--dsa-content--width_wide);
  --dsa-section__content--width_max: 100vw;
  --dsa-section__content--width_full: 100vw;
  --dsa-section__content--padding: var(--dsa-content--horizontal-spacing);

  //Background Color
  --dsa-section--background-color_default: var(--ks-background-color-default);
  --dsa-section--background-color_accent: var(--ks-background-color-accent);
  --dsa-section--background-color_bold: var(--ks-background-color-bold);

  //Background Transitions
  --dsa-section--transition_to-default: linear-gradient(
    178deg,
    transparent 75%,
    var(--ks-background-color-default) 75%
  );
  --dsa-section--transition_to-accent: linear-gradient(178deg, transparent 75%, var(--ks-background-color-accent) 75%);
  --dsa-section--transition_to-bold: linear-gradient(178deg, transparent 75%, var(--ks-background-color-bold) 75%);
  --dsa-section--transition_to-inverted: linear-gradient(
    178deg,
    transparent 75%,
    var(--ks-background-color-default-inverted) 75%
  );

  //Slider Arrows
  --dsa-section__slider-arrow--color: var(--ks-text-color-interface-interactive);
  --dsa-section__slider-arrow--size: 2rem;
  --dsa-section__slider-arrow--padding: 0.5em;
  --dsa-section__slider-arrow--opacity: 0.6;
  --dsa-section__slider-arrow--opacity_hover: 1;
  --dsa-section__slider-arrow--opacity_disabled: 0.3;
  --dsa-section__slider-arrow--background: transparent;

  //Background Styles

  //Spotlight
  --dsa-section__spotlight--size: 50px;
  --dsa-section__spotlight--blur: 0%;
  --dsa-section__spotlight--color: var(--ks-color-primary-alpha-5);
}
