@use "@kickstartds/core/source/core/container";
@include container.wrapper("logos");

.swo-logos {
  --swo-logos-gap: var(--ks-spacing-stack-m);
  --swo-logos__tagline--font: var(--swo-headline_h3--font);
  --swo-logos__tagline--font-weight: var(--swo-headline--font-weight);
  --swo-logos__tagline--color: var(--swo-headline--color);

  --swo-logos__grid--gap-horizontal: var(--ks-spacing-inline-l);
  --swo-logos__grid--gap-vertical: var(--ks-spacing-stack-s);

  --swo-logos__grid_mobile--cols: 2;
  --swo-logos__grid_tablet--cols: 3;
}
