.swo-footer {
  --swo-footer--background-color: var(--ks-background-color-default);
  --swo-footer--border-top: 1px solid var(--ks-border-color-default);
  --swo-footer--max-width: var(--swo-content--width_wide);
  --swo-footer--gap-vertical: var(--ks-spacing-stack-m);

  --swo-footer__byline--font: var(--ks-font-copy-xs);
  --swo-footer__byline--color: var(--ks-text-color-default);

  --swo-footer__links--gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-m);

  --swo-footer__link--font: var(--ks-font-interface-s);
  --swo-footer__link--font-weight: var(--swo-link--font-weight);
  --swo-footer__link--color: var(--swo-link--color);
  --swo-footer__link--text-tecoration: none;
  --swo-footer__link--text-tecoration_hover: underline;

  --swo-footer__logo--height: 1.5rem;

  @media (min-width: 62em) {
    --swo-footer__logo--height: 4rem;
  }
}
