@import "footer-tokens.scss";

.swo-footer {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--swo-footer--background-color, var(--ks-background-color-default));

  &__content {
    padding: var(--l-section--space-small) var(--swo-content--horizontal-spacing);
    border-top: var(--swo-footer--border-top, 1px solid var(--ks-border-color-default));
    max-width: var(--swo-footer--max-width, var(--swo-content--width_wide));
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--swo-footer--gap-vertical, var(--ks-spacing-stack-m));
  }

  &__logo {
    --swo-logo--height: var(--swo-footer__logo--height) !important;
  }

  &__byline {
    font: var(--swo-footer__byline--font, var(--ks-font-copy-xs));
    color: var(--swo-footer__byline--color, var(--ks-text-color-default));
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--swo-footer__links--gap, var(--ks-spacing-stack-s) var(--ks-spacing-inline-m));
  }

  &__link:not(.c-button) {
    font: var(--swo-footer__link--font, var(--ks-font-interface-s));
    font-weight: var(--swo-footer__link--font-weight, var(--ks-font-interface-s));
    color: var(--swo-footer__link--color, var(--swo-link--color));
    text-decoration: var(--swo-footer__link--text-tecoration, none);

    &:hover {
      text-decoration: var(--swo-footer__link--text-tecoration_hover, underline);
      color: var(--swo-footer__link--color_hover, var(--swo-link--color_hover));
    }
  }
}
