@use "testimonials-tokens.scss";

.dsa-testimonials {
  .c-quote {
    --c-quote_source--font: var(--dsa-testimonial__source--font, var(--ks-font-copy-m));

    --c-quote_icon--font-family: var(--dsa-testimonial__icon--font-family, var(--ks-font-family-copy));
    --c-quote_icon--font-size: var(--dsa-testimonial__icon--font-size, 3em);
    --c-quote_icon--color: var(--dsa-testimonial__icon--color, var(--ks-text-color-primary));

    --c-quote_byline--font: var(--dsa-testimonial__byline--font, var(--ks-font-copy-m));
    --c-quote_byline--font-weight: var(--dsa-testimonial__byline--font-weight, var(--ks-font-weight-regular));

    --c-quote_image--max-width: var(--dsa-testimonial__image--max-width, 40%);
  }

  .c-slider-main {
    --c-slider_bullet--outline-color-active: var(--ks-text-color-primary);
    --c-slider_bullet--size: 1rem;
  }

  &--list {
    display: flex;
    flex-direction: column;
    gap: var(--dsa-testimonial__list--gap, var(--ks-spacing-stack-xl));
  }

  .c-quote {
    &__source {
      color: var(--dsa-testimonial__source--color, var(--ks-text-color-default));
    }

    &__byline {
      color: var(--dsa-testimonial__byline--color, var(--ks-text-color-copy));
    }

    &__text {
      margin-bottom: var(--testimonials__copy--margin-bottom, var(--ks-spacing-stack-s));
    }

    &--reverse {
      flex-direction: row-reverse;

      .c-quote__content {
        padding-right: var(--dsa-testimonial--padding-left, var(--ks-spacing-xl));
        padding-left: unset;

        &:before {
          right: var(--c-quote_icon--left, calc(var(--c-quote_content--padding-left) / -2));
          top: 0;
          left: unset;
        }
      }
    }

    .c-quote__content {
      font: var(--dsa-testimonial__copy--font, var(--ks-font-copy-l));

      &::before {
        line-height: 0.7;
      }
    }
  }

  .c-slider {
    .c-slider-nav {
      margin-top: var(--ks-spacing-stack-s);
    }
  }
}
