.dsa-testimonials {
  @container quote (min-width: 640px) {
    --dsa-testimonial__image--max-width: 40%;
  }

  @container quote (min-width: 960px) {
    --c-quote_content--padding-left: var(--ks-spacing-l);
  }

  --dsa-testimonial__list--gap: var(--ks-spacing-stack-xl);
}
