.dsa-testimonials {
  --dsa-testimonial__source--font: var(--ks-font-copy-m);
  --dsa-testimonial__icon--font-family: var(--ks-font-family-copy);
  --dsa-testimonial__icon--font-size: 3em;
  --dsa-testimonial__icon--color: var(--ks-text-color-primary);
  --dsa-testimonial__byline--font: var(--ks-font-copy-m);
  --dsa-testimonial__byline--font-weight: var(--ks-font-weight-regular);
  --dsa-testimonial__image--max-width: 40%;

  --dsa-testimonial__source--color: var(--ks-text-color-default);
  --dsa-testimonial__byline--color: var(--ks-text-color-copy);
  --testimonials__copy--margin-bottom: var(--ks-spacing-stack-s);
  --dsa-testimonial--padding-left: var(--ks-spacing-xl);
  --dsa-testimonial__copy--font: var(--ks-font-copy-l);

  @container quote (min-width: 640px) {
    --dsa-testimonial__image--max-width: 40%;
  }

  @container quote (min-width: 960px) {
    --c-quote_content--padding-left: var(--ks-spacing-l);
  }

  --dsa-testimonial__list--gap: var(--ks-spacing-stack-xl);
}
