.swo-nav-toggle {
  --swo-nav-toggle--size: var(--swo-logo--height);
  --swo-nav-toggle--color: var(--ks-text-color-default);
  --swo-nav-toggle--color_open: var(--ks-text-color-default);
  --swo-nav-toggle--shadow: none;

  --swo-nav-toggle_floating--shadow: 2px 4px 6px var(--ks-color-fg-inverted);
  --swo-nav-toggle_floating--color: var(--ks-color-fg);
  --swo-nav-toggle_floating--color_open: var(--ks-color-fg);
}
