@use "sass:meta";
@use "bourbon/core/bourbon";
@use "./nav-topbar-tokens";

.dsa-nav-topbar {
  /* critical:start */
  display: none;
  @media (min-width: "62rem") {
    display: flex;
  }
  --g-link--text-decoration: none;
  --g-link--text-decoration_hover: none;
  flex-direction: column;
  justify-content: flex-start;
  /* critical:end */

  ul {
    /* critical:start */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin: 0;
    }
    /* critical:end */
  }

  .dsa-nav-list {
    /* critical:start */
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    > ul.dsa-nav-main__list {
      display: none;
    }

    /* critical:end */

    &:hover {
      .dsa-nav-topbar__link:not(:hover) {
        opacity: var(--dsa-nav-topbar__link_dimmed--opacity);
      }
    }

    &:hover {
      .dsa-nav-topbar__link:not(:hover) {
        .dsa-header--floating & {
          opacity: var(--dsa-nav-topbar_floating__link_dimmed--opacity);
        }
      }
    }
  }

  .dsa-nav-topbar__item {
    /* critical:start */
    flex-shrink: 0;
    /* critical:end */
    position: relative;
    outline: 0;

    &:hover {
      > .dsa-nav-dropdown {
        display: flex;
      }
    }
  }

  .dsa-nav-topbar__link {
    /* critical:start */
    font: var(--dsa-nav-topbar__link--font);
    font-weight: var(--dsa-nav-topbar__link--font-weight);
    color: var(--dsa-nav-topbar__link--color);
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding: var(--dsa-nav-topbar__link--padding);
    /* critical:end */

    &:hover {
      color: var(--dsa-nav-topbar__link--color_hover);
    }

    &:active {
      color: var(--dsa-nav-topbar__link--color_active);
    }

    .dsa-header--floating & {
      color: var(--dsa-nav-topbar_floating__link--color);

      &:hover {
        color: var(--dsa-nav-topbar__link--color_hover);
      }

      &:active {
        color: var(--dsa-nav-topbar__link--color_active);
      }
    }
  }

  .dsa-nav-dropdown {
    display: none;
    padding: var(--dsa-nav-dropdown--padding);
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--dsa-nav-dropdown--background);
    border-radius: var(--dsa-nav-dropdown--border-radius);
    box-shadow: var(--dsa-nav-dropdown--box-shadow);
    border: var(--dsa-nav-dropdown--border);

    &:hover {
      .dsa-nav-dropdown__link:not(:hover) {
        opacity: var(--dsa-nav-dropdown__link_dimmed--opacity);
      }
    }
  }

  .dsa-nav-dropdown__link {
    font: var(--dsa-nav-dropdown__link--font);
    font-weight: var(--dsa-nav-dropdown__link--font-weight);
    color: var(--dsa-nav-dropdown__link--color);
    position: relative;
    display: block;
    padding: var(--dsa-nav-dropdown__link--padding);
    text-align: left;

    &:hover {
      color: var(--dsa-nav-dropdown__link--color_hover);
    }

    &:active {
      color: var(--dsa-nav-dropdown__link--color_active);
    }
  }
}
