.swo-stats {
  --swo-stats--gap-vertical: var(--ks-spacing-stack-l);
  --swo-stats--gap-horizontal: var(--ks-spacing-inline-m);

  --swo-stats__item--gap: var(--ks-spacing-stack-xs);

  --swo-stats__icon--color: var(--ks-text-color-primary);
  --swo-stats__icon--size: 5em;

  --swo-stats__number--font: var(--ks-font-display-xl);
  --swo-stats__number--font-weight: var(--ks-font-weight-semi-bold);
  --swo-stats__number--background: var(--swo-typo--highlight);
  --swo-stats__topic__font: var(--ks-font-interface-xl);
  --swo-stats__topic--color: var(--ks-text-color-display);

  --swo-stats__copy--font: var(--ks-font-copy-s);
  --swo-stats__copy--color: var(--ks-text-color-default);
}
