@font-face {
  font-family: "Museo Sans";
  src:
    url("../static/fonts/museosans_500.woff2") format("woff2"),
    url("../static/fonts/museosans_500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans";
  src:
    url("../static/fonts/museosans_700.woff2") format("woff2"),
    url("../static/fonts/museosans_700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
