@use "./selectors" as *;

#{$selectors} {
  // Text color on primary backgrounds (e.g., buttons)
  --dsa-text-color-on-primary-base: var(--ks-color-fg-inverted);
  --dsa-text-color-on-primary-inverted-base: var(--ks-color-fg);

  // Overlay Box styles
  --dsa-overlay-box_transparent--background-color: var(--ks-color-bg-alpha-4);
  --dsa-overlay-box_transparent--backdrop-filter: blur(16px);
  --dsa-overlay-box_opaque--background-color: var(--ks-color-bg-alpha-2);
  --dsa-overlay-box_opaque--backdrop-filter: blur(20px);
  --dsa-overlay-box--text-color: var(--ks-color-fg);

  // Overlay Text styles
  --dsa-overlay-text--shadow: 0 0 10px var(--ks-color-fg-inverted);
  --dsa-overlay-text--text-color: var(--ks-text-color-display);

  // Topic font styles
  --dsa-topic--font: var(--ks-font-display-m);
  --dsa-topic--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-topic--color: var(--ks-text-color-display);
  --dsa-topic--font-family: var(--ks-font-family-display);

  // Link styles
  --dsa-link--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-link--color: var(--ks-text-color-default-interactive);
  --dsa-link--color_hover: var(--ks-text-color-default-interactive-hover);
  --dsa-link--text-decoration: underline;
  --dsa-link--text-decoration_hover: underline;

  // Highlight typography (e.g., gradients in text)
  --dsa-typo--highlight: var(--ks-color-primary);

  // Outer padding for content
  --dsa-content--horizontal-spacing: var(--ks-spacing-inset-l);
  --dsa-content--vertical-spacing: var(--ks-spacing-xxl);

  @media (min-width: 48em) {
    --dsa-content--horizontal-spacing: var(--ks-spacing-inset-xl);
  }

  // Content width options (for content displayed in a width constrained container)
  --dsa-content--width_narrow: calc(var(--ks-font-size-copy-m) * 34);
  --dsa-content--width_default: calc(var(--ks-font-size-copy-m) * 50);
  --dsa-content--width_wide: calc(var(--ks-font-size-copy-m) * 72);
  --dsa-content--width_max: 100vw;
  --dsa-content--width_full: 100vw;

  // Tile width options (for content displayed in a grid of flex layout)
  --dsa-tile--width_smallest: calc(var(--ks-font-size-copy-m) * 10);
  --dsa-tile--width_small: calc(var(--ks-font-size-copy-m) * 14);
  --dsa-tile--width_medium: calc(var(--ks-font-size-copy-m) * 20);
  --dsa-tile--width_large: calc(var(--ks-font-size-copy-m) * 28);
  --dsa-tile--width_largest: calc(var(--ks-font-size-copy-m) * 38);

  // Logo height
  --dsa-logo--height: 2.25rem;

  @media (min-width: 48em) {
    --dsa-logo--height: 2.5rem;
  }

  @media (min-width: 62em) {
    --dsa-logo--height: 3rem;
  }

  // Header height calculation
  --dsa-header--height: calc(var(--dsa-logo--height) + var(--ks-spacing-stack-m) + var(--ks-spacing-stack-m));
}
