@use "@kickstartds/base/lib/global/base.css";
@use "./global-token";
@use "./components/blog-teaser/blog-teaser";
@use "./components/form/form";
@use "./components/lightbox/lightbox";
@use "./fonts-systemics";
@use "./fonts-dsa";
@use "./fonts-business";
@use "./fonts-telekom";
@use "./fonts-google";
@use "./components/rich-text/rich-text";
@use "./selectors" as *;

body.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

.preview {
  &--wrapper {
    background-color: #1f213d;
    padding: 2rem;
  }

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  padding: 42px 29px;
  background-color: var(--ks-background-color-default);
  border-radius: var(--ks-border-radius-card);
}

body {
  background: var(--ks-background-color-default);
}

hr.c-divider {
  --c-divider--background: var(--ks-border-color-accent);
}

#{$selectors} {
  --g-link--font-weight: var(--dsa-link--font-weight, var(--ks-font-weight-semi-bold));
  --g-link--text-decoration: var(--dsa-link--text-decoration, underline);
  --g-link--text-decoration-hover: var(--dsa-link--text-decoration_hover, none);

  --g-link--color: var(--dsa-link--color, var(--ks-text-color-default-interactive));
  --g-link--color-hover: var(--dsa-link--color_hover, var(--ks-text-color-default-interactive-hover));
  --g-link--background: var(--dsa-link--background, transparent);
  --g-link--border-radius: var(--dsa-link--border-radius, 0);

  --g-topic--color: var(--dsa-topic--color, var(--ks-text-color-default));
  --g-topic--font: var(--dsa-topic--font, var(--ks-font-display-l));
  --g-topic--font-weight: var(--dsa-topic--font-weight, var(--ks-font-weight-bold));

  --c-rich-text--font: var(--dsa-rich-text--font, var(--ks-font-copy-m));
  --c-rich-text--vertical-spacing: var(--dsa-rich-text--vertical-spacing, var(--ks-spacing-m));
  --c-rich-text--horizontal-spacing: var(--dsa-rich-text--horizontal-spacing, 1em);
  --c-rich-text--color: var(--dsa-rich-text--color, var(--ks-text-color-default));
  --c-rich-text--font-weight: var(--dsa-rich-text--font-weight, var(--ks-font-weight-regular));

  --c-rich-text_headline--color: var(--dsa-rich-text__headline--color, var(--ks-text-color-display));
  --c-rich-text_headline--font: var(--dsa-rich-text__headline--font, var(--ks-font-display-m));
  --c-rich-text_headline--font-weight: var(--dsa-rich-text__headline--font-weight, var(--ks-font-weight-medium));
  --c-rich-text_headline--margin: var(--dsa-rich-text__headline--margin, 0.75em 0 0.5em);
}

[ks-inverted="false"],
:root,
#root {
  --dsa-text-color-on-primary: var(--dsa-text-color-on-primary-base);
  --dsa-text-color-on-primary-inverted: var(--dsa-text-color-on-primary-inverted-base);
}

[ks-inverted="true"] {
  --dsa-text-color-on-primary: var(--dsa-text-color-on-primary-inverted-base);
  --dsa-text-color-on-primary-inverted: var(--dsa-text-color-on-primary-base);
}
