.swo-video-curtain {
  --swo-video-curtain__headline--color: var(--swo-headline--color);
  --swo-video-curtain__subheadline--color: var(--swo-headline__subheadline--color);

  --swo-video-curtain_color-neutral__headline--color: var(--ks-text-color-default);
  --swo-video-curtain_color-neutral__subheadline--color: var(--ks-text-color-default);

  --swo-video-curtain__copy--color: var(--ks-text-color-default);
  --swo-video-curtain__copy--font: var(--swo-rich-text--font);
  --swo-video-curtain_highlight-text__copy--font: var(--ks-font-copy-l);
  --swo-video-curtain_color-neutral__copy--color: var(--ks-text-color-default);

  --swo-video-curtain__textbox--background-color: var(--ks-color-bg-alpha-2);
  --swo-video-curtain__textbox--border-radius: var(--ks-border-radius-surface);
  --swo-video-curtain__textbox--max-width: var(--swo-section__content--width_narrow);
  --swo-video-curtain__textbox--padding: var(--ks-spacing-inset-squish-xl);

  --swo-video-curtain_corner__overlay--background: linear-gradient(
    20deg,
    var(--ks-color-fg-inverted-alpha-2) 30%,
    transparent 80%
  );

  --swo-video-curtain_bottom__overlay--background: linear-gradient(
    0deg,
    var(--ks-color-fg-inverted-alpha-1),
    transparent
  );
}
