@use "video-curtain-tokens.scss";
@use "@kickstartds/core/source/core/container";
@include container.wrapper("visual");

.c-visual.swo-video-curtain {
  --c-visual_overlay--background: var(
    --swo-video-curtain__overlay--background,
    radial-gradient(50% 126.2% at 100% 0%, var(--ks-color-primary-alpha-5) 0%, var(--ks-color-bg-alpha-4) 100%)
  );
  --c-visual_overlay--background-size: 100%;

  &--color-neutral {
    --swo-video-curtain__copy--color: var(--swo-video-curtain_color-neutral__copy--color, var(--ks-text-color-default));
    --swo-video-curtain__headline--color: var(
      --swo-video-curtain_color-neutral__copy--color,
      var(--ks-text-color-default)
    );
    --swo-video-curtain__subheadline--color: var(
      --swo-video-curtain_color-neutral__copy--color,
      var(--ks-text-color-default)
    );
  }

  &--content-bottom {
    --c-visual_overlay--background: var(
      --swo-video-curtain_bottom__overlay--background,
      linear-gradient(0deg, var(--ks-background-color-default) 15%, transparent 50%)
    );
  }

  &--content-corner {
    --c-visual_overlay--background: var(
      --swo-video-curtain_corner__overlay--background,
      linear-gradient(40deg, var(--ks-background-color-default) 15%, transparent 50%)
    );
  }

  .c-visual__box {
    --c-visual_box--background: var(--swo-video-curtain__textbox--background-color, var(--ks-color-bg-alpha-2));
    --c-visual_box--color: var(--swo-video-curtain__copy--color, var(--ks-text-color-default));
    --c-visual_box--border-radius: var(--swo-video-curtain__textbox--border-radius, var(--ks-border-radius-surface));
    --c-visual_box--padding: var(--swo-video-curtain__textbox--padding, var(--ks-spacing-inset-squish-xl));

    --c-visual_text--font: var(--swo-video-curtain__copy--font, var(--swo-rich-text--font));
  }

  &--highlight-text {
    --swo-video-curtain__copy--font: var(--swo-video-curtain_highlight-text__box--font, var(--ks-font-copy-l));

    .c-visual__box {
      --c-visual_text--font: var(--swo-video-curtain_highlight-text__copy--font, var(--ks-font-copy-l));
    }
  }

  @container visual (min-width: 640px) {
    .c-visual__box {
      --c-visual_box--max-width: var(--swo-video-curtain__textbox--max-width, 50rem);
    }
  }
}

.c-visual.swo-video-curtain {
  .swo-headline {
    .swo-headline__headline {
      color: var(--swo-video-curtain__headline--color, var(--swo-headline--color, var(--ks-text-color-display)));
    }

    .swo-headline__subheadline {
      color: var(
        --swo-video-curtain__subheadline--color,
        var(--swo-headline__subheadline--color, var(--ks-text-color-primary))
      );
    }
  }

  .c-button-group {
    --c-button-group--vertical-gutter: var(--ks-spacing-stack-m);
    --c-button-group--horizontal-gutter: var(--ks-spacing-inline-m);
  }

  &.c-visual--full {
    height: 100vh;
  }

  .c-visual__box {
    max-width: var(--c-visual_box--max-width);
    padding: var(--c-visual_box--padding);

    &--transparent {
      padding: 0;
    }
  }

  &:not(.swo-video-curtain--content-bottom) {
    .c-visual__continue-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -10px);

      &:hover {
        transform: translate(-50%);
      }
    }
  }

  .c-visual__continue-btn {
    color: var(--swo-overlay-text--text-color, var(--ks-color-fg));
    filter: drop-shadow(var(--swo-overlay-text--shadow, 0 0 10px var(--ks-color-bg-inverted-alpha-3-base)));
  }
}
