.dsa-nav-toggle {
  --dsa-nav-toggle--size: var(--dsa-logo-height);
  --dsa-nav-toggle--color: var(--ks-text-color-default);
  --dsa-nav-toggle--color_open: var(--ks-text-color-default);

  --dsa-nav-toggle_floating--color: var(--ks-text-color-interface-interactive);
  --dsa-nav-toggle_floating--color_open: var(--ks-text-color-interface-interactive);
}
