.dsa-slider {
  --dsa-slider__arrow--background-color: transparent;
  --dsa-slider__arrow--background-color_hover: transparent;
  --dsa-slider__arrow--background-color_active: transparent;

  --dsa-slider__bullet--border-color: var(--ks-border-color-primary);
  --dsa-slider__bullet--border-color_hover: var(--ks-border-color-primary);
  --dsa-slider__bullet--border-color_active: var(--ks-border-color-primary);

  --dsa-slider__bullet--background-color: transparent;
  --dsa-slider__bullet--background-color_hover: var(--ks-color-primary-alpha-8);
  --dsa-slider__bullet--background-color_active: var(--ks-color-primary);

  --dsa-slider__arrow--color: var(--ks-border-color-primary-interactive);
}
