@import "slider-tokens.scss";

.c-slider {
  &__nav {
    margin-top: var(--ks-spacing-stack-m);
  }

  //make slider children grow vertically
  .c-slider__slides {
    align-items: stretch;

    .c-slider__slide {
      display: flex;
      flex-grow: 1;
      justify-content: stretch;
      align-items: stretch;
      height: auto;

      > * {
        flex-grow: 1;
      }
    }
  }

  .c-slider__nav-item {
    &:hover {
      .c-slider__bullet {
        border-color: var(--c-slider_bullet--outline-color-hover);
        background-color: var(--c-slider_bullet--background-color-hover);
      }
    }

    &.c-slider__nav-item--active,
    &.c-slider__nav-item--active:hover {
      .c-slider__bullet {
        border-color: var(--c-slider_bullet--outline-color-active);
        background-color: var(--c-slider_bullet--background-color-active);
      }
    }

    .c-slider__bullet {
      display: block;
      transition: border-color var(--ks-transition-hover);
    }
  }
}
